<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Touche pas au klaxon</a>
      <form class="d-flex" role="search">
        <a class="btn btn-outline-success" href="/login">Connexion</a>
      </form>
    </div>
  </nav>