<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">Touche pas au klaxon</a>
      <a class="btn btn-primary" href="/users">Utilisateurs</a>
      <a class="btn btn-primary" href="/agences">Agences</a>
      <a class="btn btn-primary" href="/trajets">Trajets</a>
      <p>Bonjour XXX</p>

      <form class="d-flex" role="search">
        <a class="btn btn-outline-danger" href="/">Déconnexion</a>
      </form>
    </div>
  </nav>