<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Touche pas au klaxon</a>
      <a class="btn btn-primary" href="">Créer un trajet</a>
      <p>Bonjour XXX</p>

      <form class="d-flex" role="search">
        <a class="btn btn-outline-danger" href="/">Déconnexion</a>
      </form>
    </div>
  </nav>