    <main class="block">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Départ</th>
                        <th>Date</th>
                        <th>Destination</th>
                        <th>Date</th>
                        <th>Places</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>
                        <a class="btn btn-primary" href="">Voir détails</a>
                        <a class="btn btn-primary" href="">Modifier</a>
                        <a class="btn btn-danger" href="">supprimer</a>
                        </td>
                    </tr>
                </tbody>
              </table> 
    </main>
