{% extends "base.html.twig" %}

{% block nav %}
    {% include "./layouts/header.twig"%}
{% endblock %}

{% block body %}
    <main>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Départ</th>
                    <th>Date</th>
                    <th>Destination</th>
                    <th>Date</th>
                    <th>Places</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            </tbody>
          </table> 
    </main>
{% endblock %}