{% extends "base.html.twig" %}

{% block nav %}
    {% include "./layouts/header-login.twig"%}
{% endblock %}

{% block body %}
<div>
    <form class="container-form shadow-lg p-3 mb-5 bg-body-tertiary rounded mx-auto">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </form>
</div>
{% endblock %}
